<ion-view title="Availavble Services" cache-view="false" hide-nav-bar="false" hide-back-button="false" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <header id="header">
    <div class="container">  <!-- holder -->
	<div class="logo2">
		<a href="#">
                        <img src="img/header.png" width="110%" alt="essr">
		</a><br/>
		<a href="#" ng-click="gotoUrl();">
                        <img src="img/sponsor.png" width="90%" alt="sponsor">
		</a><br/>
	</div>
    </div>
    </header>

    <h2>{{title}}</h2>

    <div class="list card">

  <div class="item ">
	  <div class="row">
              <div class="col col-60 balanced">verified</div>
              <div class="col">2.1 miles away</div>
          </div>
	  <div class="row">
              <div class="col item item-icon-left">
	      <i class="icon ion-android-car"></i>
	      </div>
              <div class="col col-85">
              <h2>Joes Garage</h2>
	      <p>15 Main Street, New York, New York</p>
	      </div>
          </div>
	  <div class="row">
              <div class="col ">
                 <button class="button button-positive">call</button>
	    </div>
              <div class="col col-60">Jun 20, 2017 01:30 PM</div>
              <div class="col ">
                 <button class="button button-assertive">dispute</button>
	    </div>
	  </div>
    <p>note on hours: M-F 9 am to 6 pm, Sat and Sun 9 am to 9 pm.  no diesel.</p>
  </div>

    <div class="item ">
	  <div class="row">
              <div class="col col-60 assertive">unverified</div>
              <div class="col">3.1 miles away</div>
          </div>
	  <div class="row">
              <div class="col item item-icon-left">
	      <i class="icon ion-android-car"></i>
	      </div>
              <div class="col col-85">
              <h2>Shell</h2>
	      <p>33 Elm Street, New York, New York</p>
	      </div>
          </div>
	  <div class="row">
              <div class="col ">
                 <button class="button button-stable">call</button>
	    </div>
              <div class="col col-60">Jun 23, 2017 03:30 PM</div>
              <div class="col ">
                 <button class="button button-assertive">dispute</button>
	    </div>
	  </div>
    <p></p>
  </div>


      <div class="item ">
	  <div class="row">
              <div class="col col-60 assertive">unverified</div>
              <div class="col">7.1 miles away</div>
          </div>
	  <div class="row">
              <div class="col item item-icon-left">
	      <i class="icon ion-android-car"></i>
	      </div>
              <div class="col col-85">
              <h2>Moble</h2>
	      <p>33 Bad Street, New York, New York</p>
	      </div>
          </div>
	  <div class="row">
              <div class="col ">
                 <button class="button button-stable">call</button>
	    </div>
              <div class="col col-60">Jun 22, 2017 08:30 PM</div>
              <div class="col ">
                 <button class="button button-assertive">dispute</button>
	    </div>
	  </div>
    <p></p>
  </div>

</div>
  </ion-content>
</ion-view>
