<ion-view title="Report Service" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="set-form1" class="list">
      <label class="item item-input item-select" id="set-input2">
    <div class="input-label">
      Type
    </div>
    <select>
      <option>Emergency Shelter</option>
      <option>Emergency Food/Water</option>
      <option selected>Open Gas Stations</option>
      <option>Charging Stations</option>
      <option>Open Food Stores</option>
      <option>Open ATMs</option>
      <option>Other</option>
    </select>
      </label>
      <label class="item item-input" id="set-input3">
        <span class="input-label">location name</span>
        <input ng-model="data.name" type="text" placeholder="Service name">
      </label>
      <label class="item item-input" id="set-input4">
        <span class="input-label">address</span>
        <input type="text" ng-model="data.address" placeholder="Service address">
      </label>
      <label class="item item-input" id="set-input5">
        <span class="input-label">phone</span>
        <input type="text" ng-model="data.phone" placeholder="Service phone">
      </label>
      <label class="item item-input" id="set-input6">
        <span class="input-label">notes</span>
        <input type="text" ng-model="data.notes" placeholder="Notes">
      </label>
    </form>
    <a ng-click="submitEvent()" id="set-button5" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>
