<ion-view title="Services Search" cache-view="false" hide-nav-bar="false" hide-back-button="false" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <header id="header">
    <div class="container">  <!-- holder -->
	<div class="logo2">
		<a href="#">
                        <img src="img/header.png" width="110%" alt="essr">
		</a><br/>
		<a href="#" ng-click="gotoUrl();">
                        <img src="img/sponsor.png" width="90%" alt="sponsor">
		</a><br/>
	</div>
    </div>
    </header>

    <h2>Search For: </h2>
    <button ng-click="list_esny();" id="button2" class="button icon-left ion-fork button-assertive button-block">Emergency Shelter near you</button>
    <button ng-click="list_efu();" id="button3" class="button icon-left ion-fork button-assertive button-block">Emergency food and water near you</button>
    <button ng-click="list_gs();" id="button4" class="button icon-left ion-android-car button-positive button-block">Gas Stations with gas and power</button>
    <button ng-click="list_cs();" id="button5" class="button icon-left ion-battery-charging button-positive button-block">Charging locations</button>
    <button ng-click="list_ofs();" id="button6" class="button icon-left ion-android-cart button-positive button-block">Open food stores</button>
    <button ng-click="list_watm();" id="button7" class="button icon-left ion-card button-positive button-block">Working ATMs</button>
    <a ui-sref="goSearch()" id="button8" class="button button-positive button-block">Other</a>
  </ion-content>
</ion-view>
